/*
======================================================================
Globala regler                                                        
======================================================================
*/
@font-face {
    font-family: NewWaltDisney;
    src: url(font/NewWaltDisneyFontRegular-BPen.ttf);
}
html{
	/*Bra storlek för att använda REM då 62.5% av 16px är 10*/
	font-size: 62.5%;  
}
*{
	font-size: 3.6rem;
	font-family: 'NewWaltDisney';
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	margin: auto;
	padding: 20px;
	max-width: 900px;
	/*outline: 1px solid red;*/
	/*background-color: #b3c6ff;*/
	background-image: url('../resourses/img/matrix-2953869.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;	
}
h1{
	font-size: 6rem;
	color: #0c63e6;
	text-align: center;
	text-shadow: #fff 1rem 1rem 1rem;
}
/*
======================================================================
Regler för länkar                                                     
======================================================================
*/

a:link,
a:visited {
	text-decoration: none;
	color: #000;
}

a:focus,
a:hover {
	text-decoration: underline;
}

/*
======================================================================
Andra regler                                                         
======================================================================
*/
form input placerholder {
	color: lightgray;
}